<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short URL</title>
</head>
<body>
    <h1>URL shortner</h1>
    <% if (locals.id) { %> 
       <p>URL Generated : http://localhost:8000/api/url/<%=id%></p>
       <% } %>
    <div>
        <form action="/api/url/generate" method="POST">
          <label>Original URL</label>
          <input type="text" name="url" placeholder="https://example.com">
          <button type="submit">Generate</button>
        </form>
    </div>
    <div>
        <% if(locals.urls){ %>
            <table>
                <thead>
                <th>Sr.No</th>
                <th>ShortId</th>
                <th>Redirect</th>
                <th>Clicks</th>
                </thead>
                <tbody>
                    <% urls.forEach((url ,index) =>{ %>
                        <tr>
                        <td><%=index +1%></td>
                        <td><%=url.shortId%></td>
                        <td><%=url.redirectUrl%></td>
                        <td><%=url.visitHistory.length%></td>
                    </tr>
                    <% })%>
                </tbody> 
            </table>
            <% } %>
    </div>
</body>
</html>